<!-- Modal dialog for History-->
<div class="modal fade" id="DeezerLogin_modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/img/favicon.png" alt="" width="40px"/>
                <h5 class="modal-title">Login to Deezer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                    
                </button>
            </div>
            <div class="modal-body mx-auto">
                
                <form  action="#" enctype="multipart/form-data" method="post">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </div>
    </div>
</div>

