<!-- Modal dialog for History-->
<div class="modal fade checkimgloading" id="loadfile_modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LoadFile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body mx-auto">
               <h2>Upload library</h2>
               <h4>Format should be xml plist</h4>
                <form  action="/file/upload" enctype="multipart/form-data" method="post">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file" name="file" lang="fr" accept=".xml" />
                        <label class="custom-file-label" for="file">Sélectionner un fichier</label>
                        <input type="submit" class="btn btn-primary" value="Upload">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary btn-no" data-dismiss="modal" onclick="$.post('/user/current/history/ignore')">Close</button>
            </div>
        </div>
    </div>
</div>
