{% extends "main.twig" %}

{% block interactivemenus %}

{% endblock %}
{% block content %}
    <h1>Configuration error. Configuraiton file is missing</h1>

    <h4>Please fill the following configuration</h4>
   

        <div class="input-group mb-3">
            <span class="input-group-text">Site Name</span>
            <input type="text" class="form-control" id="sitename" aria-label="sitename" aria-describedby="inputGroup-sizing-default" />

        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Deezer Application ID</span>
            <input type="text" class="form-control" id="DeezerApplicationID" aria-label="Deezer Application ID"  aria-describedby="inputGroup-sizing-default" />

        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Deezer Secret Key</span>
            <input type="text" class="form-control" id="DeezerSecretKey" aria-label="DeezerSecretKey" aria-describedby="inputGroup-sizing-default" />

        </div>
{#        <input type="submit" class="btn btn-primary" value="Upload">#}
        <button type="button" class="btn btn-danger btn-yes" onclick="post_writeconfig();">Write Config</button>
        
        <p>You can retrieve these informations on : <a href="https://developers.deezer.com/myapps">https://developers.deezer.com/myapps</a></p>
        <img src="/img/DeezerAPIHelp.png" alt=""/>
<script src="/js/error.js" type="text/javascript"></script>

{% endblock %}
