{% extends "main.twig" %}
{% import "macros/home.twig" as macrohome %}
{% block menu %} {{ include('menu.twig') }}{% endblock %}

{% block interactivemenus %}
    {{include('interactivemenus/loadfile.twig')}}
{% endblock %}
{% block content %}

    <div id="main_page" class="container-fluid row">

        <div class="col-sm-3">

            <div class="sidenavbar" linkstyle="btn btn-primary">

                <ul class="sidenavbarlist">

                    {{ macrohome.menu_links(playlists,source) }}

                </ul>
             
            </div>
        </div>
        <div class="col-sm-9">
            <div id="songlist" >
                {# Filled by javascript main.js#}
            </div>
        </div>



    </div>
    <script type="text/javascript">


        $(document).ready(function () {
            SideNavBar.init();
        });


    </script>
{% endblock %}

