{% extends "main.twig" %}

{% block content %}

    <div id="main_page" class="container-fluid row" class="row">
        {#Filled by javascript#}
        <h1>Test</h1>
    </div>
   
{% endblock %}


{% block footer %}
    <footer class="footer  py-3 bg-light fixed-bottom">
        <div class="container">
            
        </div>
    </footer>
{%endblock%}