{% extends "main.twig" %}
{% import "macros/Home_SourcesAndDestination.twig" as macro %}
{% block interactivemenus %}

{% endblock %}
{% block content %}
    <div id="ErrorPage" class="text-center">
        <h4>Please Choose your destination</h4>
        {#<button type="button" class="btn btn-light  btn-xl hugebutton">
            <a class="nav-link"  href="{{ deezerauthurl }}">
                <img src="/img/favicon.png" alt="Deezer" width="120px"/><br>
                Connect to Deezer
            </a>
        </button>

        <button type="button" class="btn btn-light  btn-xl hugebutton">
            <a class="nav-link"  href="{{ deezerauthurl }}">
                <img src="/img/Spotify.svg" alt="Deezer" width="120px"/><br>
                Connect to Spotify
            </a>
        </button>#}
        <div class="card-deck">

            {{macro.Deezer(deezerauthurl)}}
            {{macro.Spotify(spotifyauthurl)}}
        </div>
    </div>
{% endblock %}
