{% extends "main.twig" %}
{% import "macros/home.twig" as macrohome %}
{% block interactivemenus %}
    {{include('interactivemenus/loadfile.twig')}}
{% endblock %}
{% block content %}
   
    <div id="main_page" class="container-fluid row">


        {% if fileuploaded %}
            <div class="col-sm-4">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        {% for playlist in playlists%}
                            {{ macrohome.navplaylistitem(playlist.id,playlist.name) }}
                        {% endfor %}
                    </ul>
                </div>


            </div>
            <div class="col-sm-8">
                <div id="songlist" >
                    {# Filled by javascript #}
                </div>
            </div>
        {% else %}
            <h1>Please upload an iTunes Libraray file first</h1>
            <h4>Format should be xml plist</h4>
        {% endif %}




    </div>

{% endblock %}


{% block footer %}
    <footer class="footer  py-3 bg-light fixed-bottom">
        <div class="container">
            {{ debugdata }}
        </div>
    </footer>
{%endblock%}