{% extends "main.twig" %}
{% import "macros/home.twig" as macrohome %}
{% block menu %} {{ include('menu.twig') }}{% endblock %}

{% block interactivemenus %}
    {{include('interactivemenus/loadfile.twig')}}
{% endblock %}
{% block content %}

    <div id="main_page" class="container-fluid row">


        {% if fileuploaded %}
            <div class="col-sm-4">

                <div class="treeview w-20 ">

                    <ul class="mb-1 pl-3 pb-2">

                        {{ macrohome.menu_links(playlists) }}

                    </ul>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="songlist" >
                    {# Filled by javascript main.js#}
                </div>
            </div>
        {% else %}
            <h1>Please upload an iTunes Libraray file first</h1>
            <h4>Format should be xml plist</h4>
        {% endif %}




    </div>
    <script type="text/javascript">
        // Treeview Initialization
        $(document).ready(function() {
            $('.treeview').mdbTreeview();
        });
    </script>
{% endblock %}

