{% extends "main.twig" %}

{% block interactivemenus %}
    {{include('interactivemenus/loadfile.twig')}}
{% endblock %}
{% block content %}
    <div class="text-center">
    <h4>Please upload an iTunes Library <a  class="badge badge-light" href="https://support.apple.com/guide/itunes/save-a-copy-of-your-playlists-itns2998/windows" target="_blank"><i class="far fa-question-circle"></i></a></h4>

    {% if fileuploadederror %}
        <div class="alert alert-danger" role="alert">
            {{ fileuploadederrormessage }}
        </div>
    {% endif %}
    <button type="button" class="btn btn-light  btn-xl hugebutton">
        <a id="ShowLoadFileModal" class="nav-link" data-toggle="modal" data-target="#loadfile_modal">
            <img src="/img/ITunes_logo.svg" alt="Deezer" width="120px"/><br>
            Load File
        </a>
       
    </button>
    </div>

{% endblock %}
