<nav class="navbar navbar-expand-md navbar-light bg-light">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form  action="/deezer/login" enctype="multipart/form-data" method="post" class="form-inline my-2 my-md-0">

        <label for="login_new">Login</label>

        <input id="login_new" type="text" name="login" class="form-control" placeholder="" value="" autocomplete="username">


        <label for="password_new" >Password</label>

        <input id="password_new" type="password" name="password" class="form-control" placeholder=""  autocomplete="current-password">


        <input type="submit" class="btn btn-primary" value="Login">

    </form>

    <button id="ShowLoadFileModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#loadfile_modal">
        Load File
    </button>
</nav>