<nav class="navbar navbar-expand-md navbar-light bg-light">

    <button id="ShowLoadFileModal" type="button" class="btn btn-secondary btn-no" data-toggle="modal" data-target="#loadfile_modal">
        Load File
    </button>
    
    <button id="ShowDeezerLoginModal" type="button" class="btn btn-secondary btn-no" data-toggle="modal" data-target="#DeezerLogin_modal">
        <img src="/img/favicon.png" alt="Deezer" width="16px"/>
        Deezer credentials
    </button>
</nav>