{% import "macros/home.twig" as macrohome %}
{#{{ dump(playlist) }}#}
<div class="container-fluid row ">
     <button type="button" class="btn btn-secondary btn-no" onclick="SearchOnDeezer()">Search on Deezer</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Song</th>
                <th scope="col">Duration</th>
                <th scope="col">Track</th>
                <th scope="col">Total Tracks</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% set trackid = 0 %}
            {% for song in playlist%}
                {% set trackid = trackid + 1 %}
                {{ macrohome.playlistsong(trackid,song.Artist,song.Album,song.Song,song.Time,song.Track,song.TotalTracks) }}
            {% endfor %}
        </tbody>
    </table>
</div>

