.custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Choisir...";
}
.custom-file-input ~ .custom-file-label:lang(es)::after {
    content: "Elegir...`";
}

.song,ul.list-inline{
    cursor: default;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


li.navitem, a#ShowPlaylist.nav-link{
    cursor: pointer;
}

.profilepict {
    border-radius:50%;

}


.searcherror{
    background-color:lightcoral !important; 
}


.searchwarning{
    background-color: lightyellow !important; 
}


a.dropdown-item,.nav-item,.tableheaderssortable,.nav-link{
    cursor:pointer;
}

.trackimage{
    width:50px;
    height:50px;
    background-color: gray;
    color:white;
    display: table;

}

.unknowimage{
    display: table-cell;
    vertical-align: middle;
}
.hugebutton{
    /*    width:60%;
        height:60%;*/
    margin: auto;
}


.signal{
    background-repeat:no-repeat;
    background-size:32px;
    background-position: center;
    color: transparent;
}

.signal0on6{
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='signal' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='-64 -30 730 640'%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 0,480 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,96 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-96 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 128,384 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,192 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-192 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 256,288 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,288 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-288 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 384,192 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,384 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-384 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 512,96 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,480 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-480 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 640,0 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,576 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-576 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3C/svg%3E%0A");
}

.signal1on6{
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='signal' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='-64 -30 730 640'%3E%3Cpath style='fill:currentColor' d='m 0,480 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,96 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-96 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 128,384 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,192 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-192 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 256,288 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,288 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-288 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 384,192 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,384 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-384 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 512,96 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,480 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-480 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 640,0 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,576 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-576 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3C/svg%3E%0A");
}

.signal2on6{
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='signal' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='-64 -30 730 640'%3E%3Cpath style='fill:currentColor' d='m 0,480 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,96 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-96 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 128,384 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,192 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-192 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 256,288 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,288 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-288 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 384,192 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,384 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-384 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 512,96 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,480 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-480 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 640,0 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,576 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-576 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3C/svg%3E%0A");

}

.signal3on6{
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='signal' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='-64 -30 730 640'%3E%3Cpath style='fill:currentColor' d='m 0,480 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,96 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-96 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 128,384 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,192 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-192 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 256,288 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,288 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-288 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 384,192 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,384 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-384 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 512,96 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,480 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-480 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 640,0 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,576 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-576 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3C/svg%3E%0A");

}
.signal4on6{
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='signal' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='-64 -30 730 640'%3E%3Cpath style='fill:currentColor' d='m 0,480 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,96 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-96 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 128,384 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,192 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-192 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 256,288 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,288 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-288 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 384,192 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,384 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-384 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 512,96 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,480 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-480 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 640,0 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,576 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-576 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3C/svg%3E%0A");

}

.signal5on6{
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='signal' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='-64 -30 730 640'%3E%3Cpath style='fill:currentColor' d='m 0,480 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,96 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-96 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 128,384 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,192 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-192 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 256,288 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,288 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-288 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 384,192 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,384 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-384 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 512,96 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,480 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-480 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='opacity:0.4;fill:currentColor' d='m 640,0 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,576 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-576 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3C/svg%3E%0A");

}

.signal6on6{
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='signal' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='-64 -30 730 640'%3E%3Cpath style='fill:currentColor' d='m 0,480 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,96 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-96 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 128,384 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,192 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-192 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 256,288 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,288 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-288 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 384,192 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,384 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-384 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 512,96 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,480 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-480 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3Cpath style='fill:currentColor' d='m 640,0 -48,0 c -8.84,0 -16,7.16 -16,16 l 0,576 c 0,8.84 7.16,16 16,16 l 48,0 c 8.84,0 16,-7.16 16,-16 l 0,-576 c 0,-8.84 -7.16,-16 -16,-16 z' %3E%3C/path%3E%3C/svg%3E%0A");

}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.selected{
    font-weight: bold;
}

.notselected{
    font-weight:normal;
}

.badge-right{
    float:right;
}


