{% macro Deezer(deezerauthurl) %}
    <div class="card text-center" style="width: 18rem;">
        <center><img class="card-img-top" src="/img/deezer.png" alt="Deezer"  style="width : 10rem"/></center>
        <div class="card-body">
            <a class="nav-link"  href="{{ deezerauthurl }}">
                <button type="button" class="btn btn-primary">

                    Connect to Deezer

                </button>
            </a>

        </div>
    </div>
{% endmacro %}


{% macro Spotify(spotifyurl) %}
    <div class="card text-center" style="width: 18rem;">
        <center><img class="card-img-top" src="/img/Spotify.svg" alt="Spotify"  style="width : 10rem"/></center>
        <div class="card-body">
            <a class="nav-link"  href="{{ spotifyurl }}">
                <button type="button" class="btn btn-primary">

                    Connect to Spotify

                </button>
            </a>
        </div>
    </div>
{% endmacro %}



{% macro iTunes() %}
    <div class="card text-center" style="width: 18rem;">
        <center><img class="card-img-top" src="/img/iTunes_logo.svg" alt="iTunes"  style="width : 10rem"/></center>
        <div class="card-body">
            <a id="ShowLoadFileModal" class="nav-link" data-toggle="modal" data-target="#loadfile_modal">
                <button type="button" class="btn btn-primary">

                    Load an iTunes XML Library File

                </button>
            </a>
            <a href="https://support.apple.com/guide/itunes/save-a-copy-of-your-playlists-itns2998/windows" target="_blank">
                <button type="button" class="btn btn-secondary btn-sm">
                    Get help
                </button>
            </a>
        </div>
    </div>
{% endmacro %}