{% macro navplaylistitem(id,name) %}
    <li class="nav-item">
        <a class="nav-link" id="ShowPlaylist_{{id}}">
            <i class="fas fa-list"></i>{{name}}
        </a>
    </li>
{% endmacro %}
